<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Koopa_Paratroopa_Green_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{2,2},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Koopa_Paratroopa_Green_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{27,2},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ParaTroopa.png</string>
            <key>size</key>
            <string>{51,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeeb7e6977ba13040bf761b8c036d051:32e07886db3ef7f6c2c3a835ada760c7:e90b39a581680b418ab1f30c56c7b60a$</string>
            <key>textureFileName</key>
            <string>ParaTroopa.png</string>
        </dict>
    </dict>
</plist>
