<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jumping_Piranha_Plant_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{2,2},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jumping_Piranha_Plant_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{21,2},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Piranha.png</string>
            <key>size</key>
            <string>{39,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d66114e7bb31e7a8f51cfff8cf0fbc5:57fabfc211a10acbdd4624974c526086:b6b6876fb8f6891962f8ee13e05f6ae1$</string>
            <key>textureFileName</key>
            <string>Piranha.png</string>
        </dict>
    </dict>
</plist>
