<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle-TNT_line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,450},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,500},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,550},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,600},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,650},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,700},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,750},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,800},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,850},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,900},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,50},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,950},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,1000},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,100},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,150},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,200},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,250},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,300},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,350},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-TNT_line9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,50}</string>
                <key>spriteSourceSize</key>
                <string>{1280,50}</string>
                <key>textureRect</key>
                <string>{{0,400},{1280,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TNT_line.png</string>
            <key>size</key>
            <string>{1280,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03c4bc7e0c913d3ac5088329c6ea0cd:22015184a7e32de1bdc55275b0ee1e00:18130890b8881bef8f5b114841d1616d$</string>
            <key>textureFileName</key>
            <string>TNT_line.png</string>
        </dict>
    </dict>
</plist>
