<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,432}</string>
                <key>spriteSourceSize</key>
                <string>{512,432}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,432}</string>
                <key>spriteSourceSize</key>
                <string>{512,432}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,432}</string>
                <key>spriteSourceSize</key>
                <string>{512,432}</string>
                <key>textureRect</key>
                <string>{{1024,0},{512,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>underground.png</string>
            <key>size</key>
            <string>{1536,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02bab9ee102e7d21e58cfdff4da37ebc:de41d57a2937c2188977f6e2e9a39bde:dd3d6b7b17136c65e90c13824aa7d69a$</string>
            <key>textureFileName</key>
            <string>underground.png</string>
        </dict>
    </dict>
</plist>
