<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,20},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,40},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,60},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,80},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,100},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,120},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,140},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,160},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,180},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,200},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{0,220},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>get.png</string>
            <key>size</key>
            <string>{13,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:588fc1d05ae5560f67a8a8dcb4a84c40:8a4aad970a8f35d741874be86b927d2f:6b7bf1b8f5975b4dbc0a78c0a8760deb$</string>
            <key>textureFileName</key>
            <string>get.png</string>
        </dict>
    </dict>
</plist>
