<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire/00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,0},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,0},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,39},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,39},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,39},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,78},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,78},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,78},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,117},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,117},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,117},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,156},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,156},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,156},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,195},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,195},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,195},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,234},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,234},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,234},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Small/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,273},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,273},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,273},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,312},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,312},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,312},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,351},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,351},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,351},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{0,390},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{66,390},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Super/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{132,390},{66,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>YoshiTonge.png</string>
            <key>size</key>
            <string>{198,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d96a36081128807c2a5571411260c1e4:edebd9b393084dd4c1d5e883f6a0a202:325b6f817ea9d82771abc9a7c4077947$</string>
            <key>textureFileName</key>
            <string>YoshiTonge.png</string>
        </dict>
    </dict>
</plist>
