<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magma_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,112}</string>
                <key>spriteSourceSize</key>
                <string>{191,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{191,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magma_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,112}</string>
                <key>spriteSourceSize</key>
                <string>{191,112}</string>
                <key>textureRect</key>
                <string>{{191,0},{191,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magma_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,112}</string>
                <key>spriteSourceSize</key>
                <string>{191,112}</string>
                <key>textureRect</key>
                <string>{{382,0},{191,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magma_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,112}</string>
                <key>spriteSourceSize</key>
                <string>{191,112}</string>
                <key>textureRect</key>
                <string>{{573,0},{191,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magma.png</string>
            <key>size</key>
            <string>{764,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09ac0adffd1b68f923921e4fe707fd75:4f36b3295a2dcafec03f7a9865e6ed15:b6f842839d446a9890f0b81dd2dde391$</string>
            <key>textureFileName</key>
            <string>magma.png</string>
        </dict>
    </dict>
</plist>
