<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Koopa_Troopa_Green_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{2,2},{16,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Koopa_Troopa_Green_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{21,2},{16,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GreenKoopa.png</string>
            <key>size</key>
            <string>{39,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:475ca0686d8d3059f634ab6332412078:0a2d6fb3a2450a4a2a99a237dc86df7e:8744b92da6329d2ed23c497422aff945$</string>
            <key>textureFileName</key>
            <string>GreenKoopa.png</string>
        </dict>
    </dict>
</plist>
