<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Iggy_Base_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{2,2},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Iggy_Base_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{35,2},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Iggy_Base_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{68,2},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Iggy_Base.png</string>
            <key>size</key>
            <string>{100,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a33c1872c5c1379954a91b9ecb3b2c5:d371389ec41394cf93fabffc229d7f17:3b7d125075e45d2210857a438d8760c4$</string>
            <key>textureFileName</key>
            <string>Iggy_Base.png</string>
        </dict>
    </dict>
</plist>
